*{
    font-family: 'Montserrat', sans-serif;

}

.login-kiri{
    margin-top: 25vh;
}
.login {
    height: 100vh;
   
}

.header h1{
    margin-bottom: 100px;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 50px;
/* identical to box height, or 104% */

letter-spacing: -0.015em;

color: #000000;
}
.form-login .form-label {
    font-size: 24px;
    margin: 20px 0 20px;
}

.form-login .form-control{
    font-size: 19px;
}

.form-login .sign-in{
width: 100%;
height: 80px;
background: #B1D8FD;
border-radius: 28px;
}


.form-login a{
    /* Forgot password */
margin-bottom:20px;
top: 949px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 50px;
/* identical to box height, or 238% */

letter-spacing: -0.015em;
text-decoration-line: underline;

color: #000000;
}

.sign-in{
    margin-top: 60px;
}

.form-login .gapunyaAkun{
    margin-top: 90px;
}